.main {
  min-height: 1000px;
}
nav {
  margin-bottom: 20px;
}
.btn {
  margin: 10px;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
  width: 100%;
}
