.main {
  min-height: 1200px;
  background: white;
}
nav .brand-logo {
  margin-left: 10px;
}
#root {
  background: white;
}
nav {
  margin-bottom: 20px;
}
.btn {
  margin: 10px;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
  width: 100%;
}
.logo {
  width: 500px;
  margin: 0 auto;
}
.btn-floating.treslarge {
  width: 150px;
  height: 150px;
}
.btn-floating.treslarge i {
  line-height: 155px;
  font-size: 5rem;
}
